{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      {{ form.csrf_token }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Join Today</legend>
        <div class="form-group">
          {{ form.username.label(class="form-control-label") }}
          {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.username(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.email.label(class="form-control-label") }}
          {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.state.label(class="form-control-label") }}
          {% if form.state.errors %}
            {{ form.state(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.state.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.state(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.constituency.label(class="form-control-label") }}
          {% if form.constituency.errors %}
            {{ form.constituency(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.constituency.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.constituency(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.password.label(class="form-control-label") }}
          {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.confirm_password.label(class="form-control-label") }}
          {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.confirm_password(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
    <script >
      let state_select = document.getElementById('state')
      let const_select = document.getElementById('constituency')
    
      state_select.onchange = function(){
        state = state_select.value;
        fetch('/constituency/' + state).then(function(response){
          response.json().then(function(data){
            let optionHTML = '';
            /*for (let consts in data.constituency) {
              //optionHTML += '<option value="' + consts.id + '">' + consts.name + '</option>';
              optionHTML += '<option value="' + consts.dat + '">' + consts.dat + '</option>';
            }*/
            for(var key in data) {
              var value = data[key];
              optionHTML += '<option value="' + value + '">' + value + '</option>';
            }
            const_select.innerHTML = optionHTML;
          });
        });

      }
    </script>>

  </div>
  <div class="border-top pt-3">
    <small class="text-muted">
      Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
    </small>
  </div>
{% endblock content %}